{{- 'form-contact.css' | asset_url | stylesheet_tag -}}

{%- style -%}
  #shopify-section-{{ section.id }} > div {
    padding-block-start: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_top }});
    padding-block-end: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_bottom }});
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="form-contact form-contact--info-request">
    <div class="container {{ section.settings.section_width }}">
      {%- liquid
        assign request_type = section.settings.request_type | default: 'Richiesta informazioni'
      -%}

      <div class="form-contact__heading col-span-6">
        {%- if section.settings.heading != blank -%}
          <h2 class="h3">{{- section.settings.heading -}}</h2>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte">{{- section.settings.text -}}</div>
        {%- endif -%}
      </div>

      {%- assign form_dom_id = 'InfoRequestForm-' | append: section.id -%}
      {%- form 'contact', id: form_dom_id, class: 'contact-form grid', data-no-return-to: 'true' -%}
        {%- if form.posted_successfully? -%}
          <p class="form-contact__message--success h4 col-span-6" tabindex="-1" autofocus>
            {{- section.settings.success_message -}}
          </p>
        {%- elsif form.errors -%}
          <div class="color-red col-span-6">
            {{- form.errors | default_errors -}}
          </div>
        {%- endif -%}

        <input type="hidden" name="contact[richiesta]" value="{{ request_type }}">
        <input type="hidden" name="contact[pagina]" value="{{ request.path }}">

        <div class="col-span-3">
          {%- render 'text-input',
            type: 'text',
            id: form_dom_id | append: '-first_name',
            label: 'Nome',
            name: 'contact[first_name]',
            placeholder: '',
            required: false,
            value: form.first_name
          -%}
        </div>

        <div class="col-span-3">
          {%- render 'text-input',
            type: 'text',
            id: form_dom_id | append: '-last_name',
            label: 'Cognome',
            name: 'contact[last_name]',
            placeholder: '',
            required: false,
            value: form.last_name
          -%}
        </div>

        <div class="col-span-6">
          <div class="flex checkbox">
            <label class="field__label" for="{{ form_dom_id }}-contact_method">COME PREFERISCI ESSERE RICONTATTATO?</label>
            <div class="field__options" id="{{ form_dom_id }}-contact_method">
              <div class="field__option">
                <input type="checkbox" name="contact[contact_method]" value="Email" id="{{ form_dom_id }}-contact_method-email">
                <label for="{{ form_dom_id }}-contact_method-email">Email</label>
              </div>
              <div class="field__option">
                <input type="checkbox" name="contact[contact_method]" value="CHIAMATA" id="{{ form_dom_id }}-contact_method-call">
                <label for="{{ form_dom_id }}-contact_method-call">CHIAMATA</label>
              </div>
              <div class="field__option">
                <input type="checkbox" name="contact[contact_method]" value="SMS" id="{{ form_dom_id }}-contact_method-sms">
                <label for="{{ form_dom_id }}-contact_method-sms">SMS</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-6">
          {%- render 'text-input',
            type: 'tel',
            id: form_dom_id | append: '-phone',
            label: 'Numero di telefono',
            name: 'contact[phone]',
            placeholder: '',
            required: false,
            value: form.phone,
            attr: 'autocomplete="tel"'
          -%}
        </div>

        <div class="col-span-6">
          {%- render 'text-input',
            type: 'email',
            id: form_dom_id | append: '-email',
            label: 'Email',
            name: 'contact[email]',
            placeholder: '',
            required: true,
            value: form.email,
            attr: 'autocomplete="email" spellcheck="false" autocapitalize="off"'
          -%}
        </div>

        <div class="col-span-6">
          {%- render 'textarea-input',
            id: form_dom_id | append: '-body',
            label: 'Messaggio',
            name: 'contact[message]',
            placeholder: '',
            body: form.body
          -%}
        </div>

        <div class="form-row form-row--actions col-span-6">
          {%- render 'button', type: 'submit', style: 'solid', value: section.settings.submit_label, class: 'button' -%}
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Form richiesta info",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Contenuto"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Titolo",
      "default": "Richiedi informazioni"
    },
    {
      "type": "text",
      "id": "request_type",
      "label": "Tipo richiesta (campo nascosto)",
      "default": "Richiesta informazioni"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Testo",
      "default": "<p>Compila il modulo per ricevere informazioni sul progetto. Ti ricontatteremo il prima possibile.</p>"
    },
    {
      "type": "text",
      "id": "submit_label",
      "label": "Testo bottone invio",
      "default": "Invia richiesta"
    },
    {
      "type": "text",
      "id": "success_message",
      "label": "Messaggio di conferma invio",
      "default": "Abbiamo ricevuto la tua richiesta, verrai contattato al più presto."
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        { "value": "max-w-page", "label": "Pagina" },
        { "value": "max-w-narrower", "label": "Narrow" },
        { "value": "max-w-fluid", "label": "Fluid" }
      ],
      "default": "max-w-narrower",
      "label": "Larghezza sezione"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Schema colori"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "Spazio sopra",
      "options": [
        { "value": "0", "label": "No" },
        { "value": "1", "label": "S" },
        { "value": "2", "label": "M" },
        { "value": "4", "label": "L" },
        { "value": "6", "label": "XL" }
      ],
      "default": "6"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Spazio sotto",
      "options": [
        { "value": "0", "label": "No" },
        { "value": "1", "label": "S" },
        { "value": "2", "label": "M" },
        { "value": "4", "label": "L" },
        { "value": "6", "label": "XL" }
      ],
      "default": "6"
    }
  ]
}
{% endschema %}


